{% extends 'base.html.twig' %}

{% block body %}

    <form action="{{ path('filter') }}" method="post">
        <div class="row bg-secondary rounded text-white py-3 w-50 mx-auto justify-content-center text-center">
            <div class="form-group col-md-3 mr-2">
                <label for="exampleFormControlSelect1">Catégorie</label>
                <select name="categorie" class="form-select" id="exampleFormControlSelect1">
                    <option value="">Filtrez par catégorie</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3  ml-2">
                <label for="exampleFormControlSelect1">Prix</label>
                <select name="prix" class="form-select" id="exampleFormControlSelect1">
                    <option value="">Selectionnez un prix maximum</option>
                    <option value="30">< 100€</option>
                    <option value="200">< 200€</option>
                    <option value="300">< 300€</option>
                </select>
            </div>
            <div class="col-md-3 mt-4 text-center">
                <button class="btn btn-dark text-light" type="submit">Filtrer</button>
            </div>
        </div>
    </form>



    <div class="row mt-3">
        {% for product in products %}
            {% set allready=false %}
            {% set rate=false %}
            {% if app.user %}
                {% for order in app.user.orderPurchases %}
                    {% for purchase in order.purchases %}
                        {% if purchase.product.id == product.id %}
                            {% set allready=true %}

                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% for rating in app.user.ratings %}
                    {% if rating.product.id == product.id %}
                        {% set rate=true %}
                    {% endif %}
                {% endfor %}

            {% endif %}



            <div class="col-4 m-2 card w-25">
                <div class="card-header text-center">
                    <img src="{{ asset('upload/'~product.medias[0].src) }}" class="card-img-top" alt="">


                </div>
                <div class="card-body text-center">
                    {% if allready is defined and allready == true %}
                        <div class="btn btn-success my-1">Déjà commandé :)</div>
                    {% endif %}
                    <h2>{{ product.title }}</h2>
                    <h3>{{ product.category.title }}</h3>
                    <h4>{{ product.price }}€</h4>
                </div>
                <div class="card-footer">
                    <a href="{{ path('oneProduct', {'id': product.id}) }}" class="btn btn-info">Voir le détail</a>
                    <a href="{{ path('cart_add', {'id': product.id, 'param': 'home'}) }}" class="btn btn-warning">Ajouter
                        au panier</a>
                    {% if  allready  and not rate %}
                        <a href="{{ path('oneProduct', {'id': product.id}) }}" class="btn btn-secondary btn-lg my-1">Laisser
                            un avis</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

